@{
    ViewData["Title"] = "Tasks";
}
<h1>@ViewData["Title"]</h1>

<p>Details of my task on StartNG program</p>
<div>
    <table>
  <tr>
    <th>S/N</th>
    <th>Task</th>
    <th>Date assigned</th>
    <th>Deadline</th>
    <th>Link to completed task</th>
    <th>Instrutor</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>1</td>
    <td><b>C# Task 1</b><br> The instructions for this task are at the end of the C# Variable Part 2 Video. I am not posting it here so everyone watches that video before attempting to submit. To Submit your tasks, take screenshots of your code and upload to an image hosting site like https://imgbb.com/ and submit the three links to the screenshots</td>
    <td>07/04/2020 12:00 AM</td>
    <td>12/04/2020 12:00 AM</td>
    <td><a href="https://ibb.co/album/fw1u0a">Here</a>   </td>
    <td>Vincent Nwoma</td>
    <td>4/4</td>
  </tr>
  <tr>
    <td>2</td>
    <td><b>C# Task 2</b><br> For this task, you'll be applying your creative and problem solving skills. <br> 
<u>Task</u><br>
Build a simple project in which all the concepts taught are applied. <br>  
The concepts include ;<br>
1. Conditionals <br>
 2. Arrays <br>
3. Lists <br>
4. Variables and Types <br>To Submit your tasks, take screenshots of your a. entire code from line 1 to the last line  b. and your terminal showing the code running and upload to an image hosting site like https://imgbb.com/ and submit the link to the screenshots, preferably a single link in which all the screenshots can be found.</td>
    <td>18/04/2020 12:00 PM</td>
    <td>25/04/2020 12:00 AM</td>
    <td><a href="https://ibb.co/RQx2t6y">Here</a>   </td>
    <td>Vincent Nwoma</td>
    <td>4/4</td>
  </tr>
  <tr>
   <td>3</td>
    <td><b>C# Task 3: Building a number guessing game</b><br> You are to build a number guessing game that has the following features: <br><br>User is able to guess numbers against a number set by your program
If user enters anything other than number, user should be told <br>
There are 3 levels, easy, medium and hard <br>
At easy, Users get a chance to guess the number between 1 - 10, and the user gets 6 guesses <br>
Medium, the users is required to guess the number between 1 - 20, and the user gets 4 guesses <br>
Hard, users are required to guess between 1 - 50, and they only get 3 guesses <br>
User should be able to set the level they want to play <br>
Users should see how many guesses they have left after each guess <br>
If user guesses right, user should be told "You got it right!" <br>
If the user guesses wrong, user should be told "That was wrong" <br>
If users uses all available guessing power and still unable to guess right, user should be told "Game over!" <br>
<b>This task is worth a total of 3 Points.</b><br>
When you finish, create a new repo on github, and push your code to that repo. Submit the URL to that repo. <br>

PS: Make sure the repo is public, and submit the specific branch URL. <br><br>

 

Good Luck!
 </td>
    <td>20/04/2020 12:00 AM</td>
    <td>24/04/2020 12:00 AM</td>
    <td><a href="https://github.com/bettech123/number-guess-game">Here</a>   </td>
    <td>Vincent Nwoma</td>
    <td>3/4</td>
  </tr>
 
  <tr>
    <td>4</td>
    <td><b>Task 4: C# Web Application</b><br> Write a C# Web Application that can accept Two numbers and display which has a higher square root to the user. 

Hint: To get the square root of a user use Math.Sqrt() method. For eample, If a user enters the numbers 4 and 16 your application should display "The number 16 with Square root 4 has a higher square root than the number 4 with square root 2" <br> If the numbers have the same square root, the system should inform the user and ask them to enter another value. <br> If the value entered is not a number, an error message should be displayed for the user. <br> If a negative number is entered, an error message should be displayed. <br>Total Points obtainable: 5 <br> <br>
Submission <br>

Push your code to github, and submit the URL.</td>
    <td>05/05/2020 12:00 AM</td>
    <td>09/05/2020 12:00 AM</td>
    <td><a href="home/tasks/task4 " >Here</a>   </td>
    <td>Vincent Nwoma</td>
    <td>Not graded</td>
  </tr>
 
</table>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</div>
